@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #7d7d7d;
  line-height: 1.6;
  min-height: 100vh;
  padding: 25px 50px;
  color: #ffffff;
}

ul li p {
  font-size: 12px;
  text-align: center;
  width: 80%;
}

ul li i {
  font-size: 20px !important;
  text-align: center;
}

.fa {
  cursor: pointer;
}

label {
  cursor: pointer;
}

.fa-heart-o, .fa-heart {
  color: #ffc400;
}

label input[type="checkbox"] {
  margin-right: 5px;
}
