@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #7d7d7d;
  line-height: 1.6;
  min-height: 100vh;
  padding: 25px 50px;
  color: #ffffff;
}

ul li p {
  font-size: 12px;
  text-align: center;
  width: 80%;
}

ul li i {
  font-size: 20px !important;
  text-align: center;
}

.fa {
  cursor: pointer;
}

label {
  cursor: pointer;
}

.fa-heart-o, .fa-heart {
  color: #ffc400;
}

label input[type="checkbox"] {
  margin-right: 5px;
}

/* Radio Browser */

/* Search */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  padding: 20px;
  background-color: #3c3b3b;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: #ffc400a1 0px 0px 10px;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: #232222;
  padding: 10px;
  border-radius: 7px;
  box-shadow: #7d7d7d 0px 0px 10px;
}

.search-filters-container {
  padding: 10px;
  width: 100%;
}

.search-filters {
  display: flex;
  justify-content: space-around;
  width: 100%;  
  background-color: #7d7d7d4e;
  border-radius: 7px;
}

.input-search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.input-search-container button {
  background-color: #ffc400;
  color: #232222;
  width: 100px;
  margin-left: 10px;
  border: none;
  padding: 3px;
  border-radius: 7px;
  cursor: pointer;
}

.input-search-container button:hover{
  background-color: #ffc400d7;
}

.input-search-container input {
  width: 100%;
  padding: 5px;
  border-radius: 7px;
  background-color: #ffc4002c;
  border: none;
}

.input-search-container input:focus {
  outline: none;
}

.search-radios {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin: 10px ;
  background-color: #232222;
  padding: 10px;
  border-radius: 7px;
  box-shadow: #7d7d7d 0px 0px 10px;
}

.text-radios{
  margin: 20px 0;
}


/* Favorites */

/* CurrentRadioPlayer */